* {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background-color: #DBF8FF;
}

#main-container {
	width: 50em;
	margin: 3em auto;
	height: 30em;
}

#heading {
	height: 20%;
}

#left-container {
	outline: solid #A4DEEB;
	float: left;
}

#right-container {
	background-color: #A4DEEB;
	float: right;
	width: 40%;
	height: 80%;
}

#goalImage {
	max-width: 50%;
	max-height: 50%;
	margin: 10% 25%;
	border: solid #DBF8FF;
}

#right-container div {
	background-color: inherit;
}

#right-container div span {
	background-color: inherit;
	margin-left: 10%;
	font-size: 1.5em;
	color: white;
}

.buttons {
	border-radius: 15%;
	border:none;
	outline:none;
}